*{
    font-family: 'Times New Roman', Times, serif;
    max-width: 100%;
    background-color: #93938d;
    
}
header {
font-weight: lighter;
display: flex;
justify-content: space-between;
}
body {
    text-align: center;
    margin: 40px;
}
#score {
    justify-content: right;
    font-weight: bolder;
    
}
#Timer {
    justify-content: left;
    color: white;
}
.homecontainer {
    color: rgb(161, 86, 40);
    font-weight: bolder;
}
#button {
    background-color: rgb(161, 86, 40);
}
.hide {
    display: none;
}
